.about-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about-img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about-info {
    grid-template-columns: repeat(2, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about-box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.65rem;
    padding: 1rem 1.25rem;
    text-align: center;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.about-icon {
    font-size: 1.5rem;
    color: #333;
}

.cv-icon {
    font-size: 1.5rem;
    background-color: #333;
}

.about-p {
    margin: 1rem;
}

.about-title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about-subtitle {
    font-size: var(--tiny-font-size);
    color: #333 !important;
}

.about-description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

.section-subtitle-head {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 992px) {
    .about-container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about-img {
        width: 220px;
    }

    .about-box {
        padding: 0.75rem 0.5rem;
    }

    .about-data {
        text-align: center;
    }

    .about-info {
        justify-content: center;
    }

    .about-description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }

    .about-peragraph-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-p {
        max-width: 600px;
    }

}

@media screen and (max-width: 800px) {
    .about-peragraph-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-p {
        max-width: 450px;
    }
}

@media screen and (max-width: 576px) {
    .about-info {
        grid-template-columns: repeat(2, 1fr);

    }

    .about-description {
        padding: 0;
    }
}

@media screen and (max-width:350px) {
    .about-info {
        grid-template-columns: repeat(2, 1fr);
    }
}