.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--body-color);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}


.nav-logo,
.nav-toggle {
    color: var(--title-color);
    font-weight: bold;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    display: inline-block;
}

.nav-item a {
    cursor: pointer;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 0;
    position: relative;
}

.nav-menu ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: red;
    color: red;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    background-color: green;
  }

.nav-icon,
.nav-close,
.nav-toggle {
    display: none;
}

.nav-link:hover {
    color: var(--title-color-dark);
}

.headLogo {
    width: 40px;
    height: 40px;
    box-shadow: 2px 1.5px 2px green;
    border-radius: 50%;
}

.headLogo:hover {
    box-shadow: 2px 1px 2px black;

}


@media screen and (max-width: 768px) {
    .header {
        top: initial;
        bottom: 0;
    }

    .nav {
        height: var(--header-height);
    }

    .nav-menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 1px 8px rgb(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0;
        transition: .4s;
    }

    .show-menu {
        bottom: 0;
    }

    .nav-menu>.nav-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .nav-icon {
        font-size: 1.2rem;
    }

    .nav-close {
        position: absolute;
        right: 1.3rem;
        bottom: 0.5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav-close:hover {
        color: var(--title-color-dark);
    }

    .nav-toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav-icon,
    .nav-close,
    .nav-toggle {
        display: block;
    }


    .headLogo {
        width: 27px;
        height: 27px;
    }
}

@media screen and (max-width: 350px) {
    .nav-menu {
        padding: 2rem 0.10rem 4rem;
    }

    .nav-list {
        column-gap: 0;
    }

    .headLogo {
        width: 25px;
        height: 25px;
    }
}