.footer {
    background-color: var(--background-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.footer-container {
    padding: 2rem 0 3rem;
}

.footer-title,
.footer-link {
    color: var(--title-color);
}

.footer-title {
    text-align: center;
    margin-bottom: 1rem;
}

.footer-link:hover {
    color: var(--title-color-dark);
}

.footer-list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 1rem;
}

.footer-social {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.footer-social-link {
    background-color: var(--title-color);
    font-size: 1.125rem;
    border-radius: 50%;
    display: inline-flex;
}

.footer-social-link:hover {
    background-color: var(--title-color-dark);
    
}

.footer .socialMedia a {
    font-size: 25px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transition: 0.3s ease-in-out;
    background: white;
    color: black;
}

.footer .socialMedia a:hover {
    transform: scale(1.2)translate(2px);
    background-color: white;
    color: black;
}



.footer-copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--small-font-size);
    padding-bottom: 6rem;
}


@media screen and (max-width: 992px) {
    .footer-social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width:350px) {}